doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        // Project Card 1: Neuro Flex
                        .col-lg-4.col-md-6.mb-4
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Neuro Flex
                                            p A device to improve neurological testing by providing consistent, objective muscle strength measurements, using hardware like load cells for wrist and foot testing and crane scale attachments for knee/elbow movements.
                                            a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='https://github.com/ImrazMohamedFarook/NeuroFlex') View Project

                        // Project Card 2: FPGA Egg Timer
                        .col-lg-4.col-md-6.mb-4
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder FPGA Egg Timer
                                            p An FPGA-based timer built using Verilog for flexible egg cooking, with features like adjustable time and real-time clock handling. Designed with buttons for user control and time settings.
                                            a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='https://github.com/ImrazMohamedFarook/FPGA-Egg-Timer') View Project

                        // Project Card 3: Flappy Bird via EMG-Controlled Mouse
                        .col-lg-4.col-md-6.mb-4
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Flappy Bird via EMG-Controlled Mouse
                                            p Control a computer mouse with muscle signals using EMG sensors. This project uses bioinstrumentation to turn muscle activity into cursor movement and clicks for a unique user experience.
                                            a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='https://github.com/ImrazMohamedFarook/FlappyBird-EMG') View Project

                        // Project Card 4: T-bird Taillight Digital Circuit Design
                        .col-lg-4.col-md-6.mb-4
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder T-bird Taillight Digital Circuit Design
                                            p A digital circuit built for the T-bird taillight using Xilinx ISE software. The design incorporates flip-flops and logic gates to control the taillight system.
                                            a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='https://github.com/ImrazMohamedFarook/Tbird-Taillight-Digital-Circuit') View Project

                        // Project Card 5: Advanced Photo Filter Application
                        .col-lg-4.col-md-6.mb-4
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Advanced Photo Filter Application
                                            p A Python-based photo editor app for PC that offers advanced filtering features. Designed to provide an error-free and seamless photo editing experience for users.
                                            a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='https://github.com/ImrazMohamedFarook/Advanced-Photo-Filter') View Project

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build something together
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
